/* 
    Document   : profile.css
    Created on : 16-gen-2013, 14.41.51
    Author     : caiofior
    Description:
        Purpose of the stylesheet follows.
*/

#content_boscoForestlist ul {
    list-style-type: none;
}
#manage_bosco p {
    padding: 1px;
}
#manage_bosco label {
    display: inline-block;
    width: 150px;
}
#manage_bosco label.small {
    display: inline-block;
    width: 50px;
}
#manage_bosco input,select {
    width: 100px;
}
#manage_bosco input.small,select.small {
    width: 50px;
}
#manage_bosco input.large,select.large {
    width: 200px;
}
#manage_bosco .button {
    margin-left: 200px;
}