/* 
    Document   : form_a
    Created on : 4-feb-2013, 14.18.03
    Author     : caiofior
    Description:
        Purpose of the stylesheet follows.
*/

#formA {
    height: 3600px;
}
fieldset {
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    color: #325D27;
    position: relative;
    display: block;
}
legend {
    border-style: dotted;
    border-width: 1px;
    border-color: #000000;
    margin-left: 20px;
    font-weight: bold;
}
fieldset > div {
    position:absolute;
}
fieldset > div > label {
    background-color: #010080;
    color: #ffffff!important;
    display: block;
}
label.double {
    height: 40px;
}
label.triple {
    height: 60px;
}
input:not([type='radio']) {
   width: 80%;
}
input[type='radio'] {
   background: transparent;
   border: 0;
}

/**
* General part
**/
#general {
    left: 0px;
    top: 0px;
    height: 313px;
    border-style: none;
}
#bosco_container {
    width: 250px;
    top:4px;
    left:4px;
}
#codiope_container {
    width: 250px;
    top: 4px;
    left: 260px;
}
#datasch_container {
    width: 250px;
    top:4px;
    left: 520px;
}
#note_1 {
    width: 154px;
    top:60px;
    left: 4px;
}
#sup_tot_container {
    top:66px;
    width: 100px;
    left: 299px;
}
#boscata_calcolo_container {
    top:66px;
    width: 100px;
    left: 409px;
}
#cod_part_container {
    width: 161px;
    top:66px;
    left: 520px;
}
#comune_container {
    width: 150px;
    top:159px;
    left: 4px;
}
#ap_container {
    width: 125px;
    top:159px;
    left: 164px;
}
#improduttivi_calcolo_container {
    top:159px;
    width: 100px;
    left: 299px;
}
#prod_non_bosc_calcolo_container {
    top:159px;
    width: 100px;
    left: 409px;
}
#toponimo_container {
    width: 150px;
    top:244px;
    left: 4px;
}
#pp_container {
    top:244px;
    width: 125px;
    left: 164px;
}
/**
* Sub forest parcel
*/
#sub_forest_parcel {
    top: -181px;
    left: 522px;
    width: 280px;
    height: 160px;
}
#sup_container {
    top: 14px;
    left: 170px;
    width: 100px;
}
/**
* Posifisio
**/
#pf1container {
    top: -150px;
    left: 4px;
    width: 488px;
}
.pf1_descr {
    display: inline-block;
    width: 60px;
}
/**
* A container
*/
#acontainer {
    top: -147px;
    left: 4px;
    width: 488px;
    height: 312px;
}
#acontainer div div{
    position: relative;
    clear: both;
}
#acontainer div div span{
    float:left;
    width: 50px;
    text-align: center;
    word-break: break-all;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #000000;
}
#acontainer div div span:first-child{
    float:left;
    width: 200px;
    text-align: left;
    word-break: normal;
}
#a8_container {
    top: 256px;
    width: 300px;
}
/**
* e1container
*/
#e1container {
    top: -580px;
    left: 522px;
    width: 280px;
    height: 281px;
}
.e1 {
    position: relative;
}
.e1.est {
    left: 0px;
    top: 46px;
}
.e1.nord {
    left: 134px;
    top:-5px;
}
.e1.nord-est{
    left: 45px;
    top:9px;
}
.e1.nord-ovest{
    left: 190px;
    top:-140px;
}
.e1.nulla{
    left: 134px;
    top:-103px;
}
.e1.ovest {
    left: 234px;
    top: -53px;
}
.e1.sud {
    left: 132px;
    top: 110px;
}
.e1.sud-est {
    left: 45px;
    top: 100px;
}
.e1.sud-ovest {
    left: 190px;
    top: 45px;
}
/**
* R container
**/
#rcontainer {
    top: -400px;
    left: 4px;
    width: 488px;
    height: 285px;
}
#rcontainer div div{
    position: relative;
    clear: both;
}
#rcontainer div div span{
    float:left;
    width: 50px;
    text-align: center;
    word-break: break-all;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #000000;
}
#rcontainer div div span:first-child{
    float:left;
    width: 200px;
    text-align: left;
    word-break: normal;
}
#r7_container {
    top: 220px;
    width: 300px;
}

/**
* F container
**/
#fcontainer {
    top: -400px;
    left: 4px;
    width: 488px;
    height: 385px;
}
#fcontainer div div{
    position: relative;
    clear: both;
}
#fcontainer div div span{
    float:left;
    width: 50px;
    text-align: center;
    word-break: break-all;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #000000;
}
#fcontainer div div span:first-child{
    float:left;
    width: 200px;
    text-align: left;
    word-break: normal;
}
#f12_container {
    top: 320px;
    width: 300px;
}
/**
* F container
**/
#vcontainer {
    top: -400px;
    left: 4px;
    width: 488px;
    height: 80px;
}
#v1_container {
    top: 30px;
    width: 200px;
}
#v3_container {
    top: 30px;
    left: 210px;
    width: 200px;
}
/**
* O container
**/
#ocontainer {
    top: -400px;
    left: 4px;
    width: 488px;
}
.o_descr {
    display: inline-block;
    width: 100px;
}
/**
* c container
**/
#ccontainer {
    top: -400px;
    left: 4px;
    width: 800px;
    height: 100px;
}
#c1_container {
    width: 100px;
    top:25px;
    left:4px;
}
#c2_container {
    width: 100px;
    top:25px;
    left:108px;
}
#c3_container {
    width: 100px;
    top:25px;
    left:212px;
}
#c4_container {
    width: 100px;
    top:25px;
    left:316px;
}
#c5_container {
    width: 100px;
    top:25px;
    left:420px;
}
#c6_container {
    width: 200px;
    top:25px;
    left:524px;
}
/**
* P container
*/
#pcontainer {
    top: -400px;
    left: 4px;
    width: 800px;
    height: 190px;
}
#p1_container {
    width: 100px;
    top:25px;
    left:4px;
}
#p2_container {
    width: 100px;
    top:25px;
    left:108px;
}
#p3_container {
    width: 100px;
    top:25px;
    left:212px;
}
#p4_container {
    width: 100px;
    top:25px;
    left:316px;
}
#p5_container {
    width: 100px;
    top:25px;
    left:420px;
}
#p6_container {
    width: 100px;
    top:25px;
    left:524px;
}
#p7_container {
    width: 430px;
    height: 60px;
    top:120px;
    left:104px;
    border-style: solid;
    border-width: 1px;
}
#p8_container {
    width: 150px;
    top:25px;
    left:628px;
}
#p9_container {
    width: 150px;
    top:0px;
    left:280px;
}
/**
* I container
*/
#icontainer {
    top: -390px;
    left: 4px;
    width: 488px;
    height: 180px;
}
#i1_container {
    width: 80px;
    top:25px;
    left:4px;
}
#i2_container {
    width: 80px;
    top:25px;
    left:92px;
}
#i3_container {
    width: 50px;
    top:25px;
    left:176px;
}
#i4_container {
    width: 50px;
    top:25px;
    left:230px;
}
#i5_container {
    width: 50px;
    top:25px;
    left:284px;
}
#i6_container {
    width: 80px;
    top:25px;
    left:338px;
}

#i7_container {
    width: 50px;
    top:25px;
    left:422px;
}
#i8_container {
    width: 150px;
    top:104px;
    left:4px;
    
}
/**
* I bis container
*/
#ibiscontainer {
    top: -575px;
    left: 522px;
    width: 280px;
    height: 180px;
}
#i21_container {
    width: 80px;
    top:50px;
    left:4px;
}
#i22_container {
    width: 80px;
    top:50px;
    left:92px;
}
/**
* M container
*/
#mcontainer {
    top: -575px;
    left: 4px;
    width: 800px;
    height: 200px;
}
#mcontainer div{
    font-size: 8px;
    word-break: break-all;
}
#m1_container {
    width: 55px;
    top:23px;
    left:4px;
}
#m2_container {
    width: 55px;
    top:23px;
    left:63px;
}
#m21_container {
    width: 55px;
    top:23px;
    left:122px;
}
#m3_container {
    width: 55px;
    top:23px;
    left:181px;
}
#m4_container {
    width: 55px;
    top:23px;
    left:240px;
}
#m22_container {
    width: 55px;
    top:23px;
    left:299px;
}
#m20_container {
    width: 55px;
    top:23px;
    left:358px;
}
#m5_container {
    width: 55px;
    top:23px;
    left:417px;
}
#m6_container {
    width: 55px;
    top:23px;
    left:476px;
}
#m7_container {
    width: 55px;
    top:120px;
    left:4px;
}
#m8_container {
    width: 55px;
    top:120px;
    left:63px;
}
#m9_container {
    width: 55px;
    top:120px;
    left:122px;
}
#m10_container {
    width: 55px;
    top:120px;
    left:181px;
}
#m12_container {
    width: 55px;
    top:120px;
    left:240px;
}
#m13_container {
    width: 55px;
    top:120px;
    left:299px;
}
#m15_container {
    width: 55px;
    top:120px;
    left:358px;
}
#m23_container {
    width: 55px;
    top:120px;
    left:417px;
}
#m14_container {
    width: 55px;
    top:120px;
    left:476px;
}
#m16_container {
    width: 55px;
    top:120px;
    left:535px;
}
#m17_container {
    width: 55px;
    top:120px;
    left:594px;
}
#m18_container {
    width: 55px;
    top:120px;
    left:653px;
}
#m19_container {
    width: 100px;
    top:120px;
    left:712px;
}
/**
* notes container
*/
#notescontainer {
    top: -550px;
    left: 4px;
    width: 800px;
    height: 310px;
}

#newnote {
    top: 24px;
    left: 70px;
    width: 700px;
}
#content_schedaa_note {
    top: 124px;
    left: 70px;
    width: 700px;
}
#content_schedaa_note  div{
    position: relative;
    clear: both;
}
#content_schedaa_note  div span{
    float:left;
    width: 220px;
    text-align: center;
    word-break: break-all;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #000000;
}
#newnote  div{
    position: relative;
    clear: both;
}

#newnote div span{
    float:left;
    width: 220px;
    text-align: center;
    word-break: break-all;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #000000;
}
#scrollcontrols span input{
    display: inline;
    width: 50px;
}
#scrollcontrols img {
    margin-top: 5px;
    vertical-align:top;
}
/**
* cadastral container
*/
#cadastraldata {
    top: -540px;
    left: 4px;
    width: 800px;
    height: 420px;
}
#cadastraldata  div,table {
    font-size: 7px;
}
#cadastraldata form {
    background-color: #BFBFBF;
}
#cadastraldata form,div,input {
    margin: 0px;
    border: 0px;
    padding: 2px;
}
/**
* note container
*/
#forestnotecontainer {
    top: -530px;
    left: 4px;
    width: 200px;
    height: 310px;
}
#forestnotecontainer textarea {
    border-style: none;
}
