/* 
    Document   : formb
    Created on : 8-feb-2013, 16.02.55
    Author     : caiofior
    Description:
        Purpose of the stylesheet follows.
*/

fieldset {
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    color: #325D27;
    position: relative;
    display: block;
}
legend {
    border-style: dotted;
    border-width: 1px;
    border-color: #000000;
    margin-left: 20px;
    font-weight: bold;
}
fieldset > div {
    position:absolute;
}
fieldset > div > label {
    background-color: #010080;
    color: #ffffff!important;
    display: block;
}
label.double {
    height: 40px;
}
label.triple {
    height: 60px;
}
select {
   margin: 0!important;
   padding: 0!important;
   height: 17px;
   width: 80%;
}
input:not([type='radio']) {
   width: 80%;
   font-size: 10px;
   margin: 0;
   padding: 0;
}
input[type='radio'] {
   background: transparent;
   border: 0;
}
/**
* General part
**/
#general {
    left: 0px;
    top: 0px;
    height: 313px;
    border-style: none;
}
#regione_container {
    width: 500px;
    top:4px;
    left:4px;
}
#bosco_container {
    width: 250px;
    top:58px;
    left:4px;
}
#note_1 {
    width: 300px;
    top:100px;
    left: 4px;
}
#u_container {
    width: 200px;
    top:166px;
    left: 4px; 
}
#t_container {
    width: 200px;
    top:166px;
    left: 208px; 
}
#cod_part_container {
    width: 200px;
    top:166px;
    left: 412px; 
}
#s_container {
    width: 200px;
    top:232px;
    left: 4px; 
}
#c1_container {
    width: 150px;
    top:420px;
    left: 4px; 
}
#ce_container {
    width: 150px;
    top:490px;
    left: 164px; 
}
#spe_nov_container {
    width: 150px;
    top:1110px;
    left: 600px; 
}
/**
* M container
*/
#mcontainer {
    left: 208px;
    top: -100px;
    width: 320px;
    height: 50px;
}
/**
* O container
*/
#ocontainer {
    left: 4px;
    top: -96px;
    width: 525px;
    height: 90px;
}
#ocontainer input,.o_descr {
    float:left;      
}
.o_descr {
    display: block;
}
/**
* Vig container
*/
#vigcontainer {
    left: 160px;
    top: -90px;
    width: 370px;
    height: 50px;
}
/**
* Arboree container
*/
#arboreecontainer {
    left: 550px;
    top: -328px;
    width: 260px;
    height: 150px;
}
#newarboree {
    top: 24px;
    left: 4px;
    width: 250px;
}
#content_schedab_arboree {
    top: 74px;
    left: 4px;
    width: 250px;
}
#content_schedab_arboree  div{
    position: relative;
    clear: both;
}
#content_schedab_arboree  div span{
    float:left;
    width: 80px;
    text-align: center;
    word-break: break-all;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #000000;
}
#newarboree  div{
    position: relative;
    clear: both;
}

#newarboree div span{
    float:left;
    width: 80px;
    text-align: center;
    word-break: break-all;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #000000;
}
#arboreecontainer .scrollcontrols span input{
    display: inline;
    width: 50px;
}
#arboreecontainer .scrollcontrols img {
    margin-top: 5px;
    vertical-align:top;
}
/**
* Prep terr container
*/
#prep_terrcontainer {
    left: 550px;
    top: -320px;
    width: 225px;
    height: 50px;
}
/**
* V container
**/
#vcontainer {
    top: -305px;
    left: 4px;
    width: 135px;
}
/**
* D container
**/
#dcontainer {
    top: -380px;
    left: 320px;
    width: 210px;
}
/**
* Sesto container
*/
#sestocontainer {
    top: -442px;
    left: 550px;
    width: 230px;
    height: 140px;
}
#sesto_imp_tra_file_container {
    width: 110px;
    top: 22px;
    left: 4px;
}
#sesto_imp_su_file_container {
    width: 110px;
    top: 22px;
    left: 118px;
}
#buche_container {
    width: 110px;
    top: 108px;
    left: 4px;
}
/**
* SR container
**/
#srcontainer {
    top: -433px;
    left: 4px;
    width: 270px;
}
/**
* Arboree container
*/
#arbustivecontainer {
    top: -493px;
    left: 308px;
    width: 260px;
    height: 200px;
}
#newarbustive {
    top: 44px;
    left: 4px;
    width: 250px;
}
#content_schedab_arbustive {
    top: 104px;
    left: 4px;
    width: 250px;
}
#content_schedab_arbustive  div{
    position: relative;
    clear: both;
}
#content_schedab_arbustive  div span{
    float:left;
    width: 80px;
    text-align: center;
    word-break: break-all;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #000000;
}
#newarbustive  div{
    position: relative;
    clear: both;
}

#newarbustive div span{
    float:left;
    width: 80px;
    text-align: center;
    word-break: break-all;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #000000;
}
#arbustivecontainer .scrollcontrols span input{
    display: inline;
    width: 50px;
}
#arbustivecontainer .scrollcontrols img {
    margin-top: 5px;
    vertical-align:top;
}
/**
* SE container
**/
#secontainer {
    top: -483px;
    left: 4px;
    width: 270px;
}
/**
* Erbacee container
*/
#erbaceecontainer {
    top: -543px;
    left: 308px;
    width: 260px;
    height: 200px;
}
#newerbacee {
    top: 44px;
    left: 4px;
    width: 250px;
}
#content_schedab_erbacee {
    top: 104px;
    left: 4px;
    width: 250px;
}
#content_schedab_erbacee  div{
    position: relative;
    clear: both;
}
#content_schedab_erbacee  div span{
    float:left;
    width: 80px;
    text-align: center;
    word-break: break-all;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #000000;
}
#newerbacee  div{
    position: relative;
    clear: both;
}

#newerbacee div span{
    float:left;
    width: 80px;
    text-align: center;
    word-break: break-all;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #000000;
}
#erbaceecontainer .scrollcontrols span input{
    display: inline;
    width: 50px;
}
#erbaceecontainer .scrollcontrols img {
    margin-top: 5px;
    vertical-align:top;
}
/**
* N1 container
**/
#n1container {
    top: -523px;
    left: 4px;
    width: 200px;
}
#n1arrow_right {
    top: -573px;
    left: 225px;
    width: 10px;
    height: 43px;
    border-style: none;
    background: transparent url('../images/arrow-right.png') no-repeat;
}
/**
* N2 container
**/
#n2container {
    top: -630px;
    left: 246px;
    width: 140px;
}
#n2container input,.n2_descr {
    float:left;      
}
.n2_descr {
    display: block;
    width: 50px;
}
/**
* N3 container
**/
#n3container {
    top: -696px;
    left: 406px;
    width: 140px;
}
#n3container input,.n3_descr {
    float:left;      
}
.n3_descr {
    display: block;
    width: 50px;
    word-break: break-all;
}
#n3arrow_right {
    top: -756px;
    left: 570px;
    width: 10px;
    height: 43px;
    border-style: none;
    background: transparent url('../images/arrow-right.png') no-repeat;
}