/* 
    Document   : formb2
    Created on : 27-feb-2013, 15.12.31
    Author     : caiofior
    Description:
        Purpose of the stylesheet follows.
*/
fieldset {
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    color: #325D27;
    position: relative;
    display: block;
}
legend {
    border-style: dotted;
    border-width: 1px;
    border-color: #000000;
    margin-left: 20px;
    font-weight: bold;
}
h4 {
    position: relative;
    color: #010080!important;
    background-color: #ffffff;
    font-size: 12px!important;
    margin: 0px!important;
    padding: 0px;
    
}
fieldset > div {
    position:absolute;
}
fieldset > div > label {
    background-color: #010080;
    color: #ffffff!important;
    display: block;
}
label.double {
    height: 40px;
}
label.triple {
    height: 60px;
}
select {
   margin: 0px !important;
   padding: 0px !important;
   height: 17px;
   width: 80%;
}
input:not([type='radio']) {
   width: 80%;
   margin: 0px ;
   padding: 0px;
}
input[type='radio'],input[type='checkbox'] {
   background: transparent;
   border: 0;
}
#formB2 {
    height: 2900px;
}
/**
* General part
**/
#general {
    left: 0px;
    top: 0px;
    height: 0px;
    border-style: none;
}
#regione_container {
    width: 500px;
    top:4px;
    left:4px;
}
#bosco_container {
    width: 250px;
    top:58px;
    left:4px;
}
#note_1 {
    width: 400px;
    top:82px;
    left:4px;
}
#cod_part_container {
    width: 200px;
    top:4px;
    left: 412px; 
}
#t_container {
    width: 200px;
    top:180px;
    left: 412px; 
}
/**
* Container of U blocks
**/
#ucontainer {
    left: 400px;
    top: 60px;
    width: 400px;
    height: 250px;
    border-style: none;
}
#ucontainer input {
    float:left;
    display: block;
}
#ucontainer .u_descr {
    display: block;
    float:left;
    width: 80px;
    word-break: break-all;
}
/**
* Label TAb1 blocks
**/
#tab1note {
    width: 100px;
    border-style: solid;
    border-width: 1px;
    background-color: #ffffff;
}
#tipocontainer {
    top: -80px;
    left: 120px;
    width: 300px;
    height: 80px;
}
#tipocontainer input {
    float:left;
    display: block;
}
#tipocontainer .tipo_descr {
    display: block;
    float:left;
    width: 80px;
    word-break: break-all;
}
/**
* Tab 1 container
*/
#tab1container {
    border-style: none;
}
#anno_imp_container {
    top: -150px;
    left: 450px;
}
#anno_dest_container {
    top: -150px;
    left: 620px;
}
#cod_coltup_container {
    top: -50px;
    left: 300px;
}
#cod_coltus_container {
    top: -60px;
    left: 600px;
}
#dist_container {
    top: 50px;
     width: 150px;
}
#dist_princ_container {
    top: 50px;
    left: 172px;
    width: 150px;
}
#fall_container {
    top: 150px;
    left: 650px;
    width: 150px;
}
/**
*Com Spec container
**/
#com_specontainer {
    top: -80px;
    height: 40px;
    width: 280px;
}
#com_specontainer input {
    float:left;
    display: block;
}
#com_specontainer .com_spe_descr {
    display: block;
    float:left;
    width: 80px;
    word-break: break-all;
}
/**
*Com Spec container
**/
#sesto_imp_arbcontainer {
    top: -50px;
    left: 350px;
    height: 40px;
    width: 400px;
}
#sesto_imp_arbcontainer input {
    float:left;
    display: block;
}
#sesto_imp_arbcontainer .sesto_imp_arb_descr {
    float:left;
    width: 80px;
    word-break: break-all;
}
/**
*Com Spec container
**/
#sesto_imp_sp_princ_arbcontainer {
    top: -50px;
    left: 350px;
    height: 40px;
    width: 400px;
}
#sesto_imp_sp_princ_arbcontainer input {
    float:left;
    display: block;
}
#sesto_imp_sp_princ_arbcontainer .sesto_imp_sp_princ_descr {
    float:left;
    width: 80px;
    word-break: break-all;
}
/**
*Vig Arb Princ container
**/
#vig_arb_princcontainer {
    top: -40px;
    left: 0px;
    height: 40px;
    width: 300px;
}
#vig_arb_princcontainer input {
    float:left;
    display: block;
}
#vig_arb_princcontainer .vig_arb_princ_descr {
    float:left;
    width: 80px;
    word-break: break-all;
}
/**
*Vig Arb Sec container
**/
#vig_arb_seccontainer {
    top: -100px;
    left: 330px;
    height: 40px;
    width: 300px;
}
#vig_arb_seccontainer input {
    float:left;
    display: block;
}
#vig_arb_seccontainer .vig_arb_sec_descr {
    float:left;
    width: 80px;
    word-break: break-all;
}
/**
*Qual pri container
**/
#qual_pricontainer {
    top: -80px;
    left: 0px;
    height: 40px;
    width: 300px;
}
#qual_pricontainer input {
    float:left;
    display: block;
}
#qual_pricontainer .qual_pri_descr {
    float:left;
    width: 80px;
    word-break: break-all;
}
/**
* Tab 1 lines
*/
#line1tab1 {
    position: relative;
    top: -70px;
    width: 450px;
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #0063DC;
}
#line2tab1 {
    position: relative;
    left: 450px;
    top: -73px;
    width: 350px;
    border-top-style: dashed;
    border-top-width: 3px;
    border-top-color: #0063DC;
}
/**
* Tab 2
*/
#tab2note {
    position: relative;
    top: -50px;
    width: 100px;
    border-style: solid;
    border-width: 1px;
    background-color: #ffffff;
}
/**
*Col cast container
**/
#colt_castcontainer {
    top: -120px;
    left: 120px;
    height: 80px;
    width: 500px;
}
#colt_castcontainer input {
    float:left;
    display: block;
}
#colt_castcontainer .colt_cast_descr {
    float:left;
    width: 80px;
    word-break: break-all;
}
/**
*Vig cast container
**/
#vig_castcontainer {
    top: -100px;
    left: 0px;
    height: 40px;
    width: 300px;
}
#vig_castcontainer input {
    float:left;
    display: block;
}
#vig_castcontainer .vig_cast_descr {
    float:left;
    width: 80px;
    word-break: break-all;
}
/**
*Sesto imp cast container
**/
#sesto_imp_castcontainer {
    top: -160px;
    left: 350px;
    height: 40px;
    width: 400px;
}
#sesto_imp_castcontainer input {
    float:left;
    display: block;
}
#sesto_imp_castcontainer .sesto_imp_cast_descr {
    float:left;
    width: 80px;
    word-break: break-all;
}
/**
* Tab 2 lines
*/
#line1tab2 {
    position: relative;
    top: -120px;
    width: 450px;
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #0063DC;
}
#line2tab2 {
    position: relative;
    left: 450px;
    top: -123px;
    width: 350px;
    border-top-style: dashed;
    border-top-width: 3px;
    border-top-color: #0063DC;
}
/**
* Tab 3
*/
#tab3note {
    position: relative;
    top: -100px;
    width: 100px;
    border-style: solid;
    border-width: 1px;
    background-color: #ffffff;
}
#tab3container {
    border-style: none;
}
#cod_coltub_container {
    top: -160px;
    left: 150px;
}
#cod_coltua_container {
    top: -80px;
    left: 0px;
}
#num_piante_container {
    top: 30px;
    left: 50px;
}
#piant_tart_container {
    top: 30px;
    left: 250px;
}
/**
*Sesto imp tart container
**/
#sesto_imp_tartcontainer {
    top: -50px;
    left: 0px;
    height: 40px;
    width: 400px;
}
#sesto_imp_tartcontainer input {
    float:left;
    display: block;
}
#sesto_imp_tartcontainer .sesto_imp_tart_descr {
    float:left;
    width: 80px;
    word-break: break-all;
}
/**
* Tab 3 lines
*/
#line1tab3 {
    position: relative;
    top: 20px;
    width: 450px;
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #0063DC;
}
#line2tab3 {
    position: relative;
    left: 450px;
    top: 17px;
    width: 350px;
    border-top-style: dashed;
    border-top-width: 3px;
    border-top-color: #0063DC;
}
/**
* Tab 4
*/
#tab4note {
    position: relative;
    top: 30px;
    width: 100px;
    border-style: solid;
    border-width: 1px;
    background-color: #ffffff;
}
#tab4container {
    border-style: none;
}
#s_container {
    left:120px;
}
/**
*Fito bio container
**/
#fito_bio_container {
    width: 100px;
    top: 390px;
    left: 220px;
}
/**
*Fito bio spec container
**/
#fito_bio_spec_container {
    width: 100px;
    top: 450px;
    left: 220px;
}
/**
*Fito bio container
**/
#fito_abio_container {
    width: 100px;
    top: 390px;
    left: 330px;
}
/**
*Fito bio spec container
**/
#fito_abio_spec_container {
    width: 100px;
    top: 430px;
    left: 330px;
}
/**
* Spe nov container
**/
#spe_nov_container {
    width: 200px;
    top: 670px;
    left: 250px;
}
/**
* Tipo int sug container
**/
#tipo_int_sug_container {
    width: 400px;
    top: 750px;
    left: 0px;
}
/**
* Int2 container
**/
#int2_container {
    width: 150px;
    top: 800px;
    left: 0px;
}
/**
* Int3 container
**/
#int3_container {
    width: 120px;
    top: 800px;
    left: 160px;
}
/**
* Estraz passata container
*/
#estraz_passata_container {
    width: 120px;
    top: 800px;
    left: 290px;
}
/**
* Arboree 2 container
*/
#arboree2container {
    left: 0px;
    top: 50px;
    width: 260px;
    height: 150px;
}
#newarboree2 {
    top: 24px;
    left: 4px;
    width: 250px;
}
#content_schedab2_arboree2 {
    top: 74px;
    left: 4px;
    width: 250px;
}
#content_schedab2_arboree2  div{
    position: relative;
    clear: both;
}
#content_schedab2_arboree2  div span{
    float:left;
    width: 80px;
    text-align: center;
    word-break: break-all;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #000000;
}
#newarboree2  div{
    position: relative;
    clear: both;
}

#newarboree2 div span{
    float:left;
    width: 80px;
    text-align: center;
    word-break: break-all;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #000000;
}
#arboree2container .scrollcontrols span input{
    display: inline;
}
#arboree2container .scrollcontrols img {
    margin-top: 5px;
    vertical-align:top;
}
/**
*O container
**/
#ocontainer {
    top: 60px;
    left: 0px;
    height: 120px;
    width: 260px;
}
#ocontainer input {
    float:left;
    display: block;
}
#ocontainer .o_descr {
    float:left;
    width: 50px;
    word-break: break-all;
}
/**
*Vig sug container
**/
#vig_sugcontainer {
    top: -75px;
    left: 280px;
    height: 120px;
    width: 150px;
}
#vig_sugcontainer input {
    float:left;
    display: block;
}
#vig_sugcontainer .vig_sug_descr {
    float:left;
    width: 35px;
    word-break: break-all;
}
/**
*Fito sug container
**/
#fito_sugcontainer {
    top: -75px;
    left: 0px;
    height: 80px;
    width: 200px;
}
#fito_sugcontainer input {
    float:left;
    display: block;
}
#fito_sugcontainer .fito_sug_descr {
    float:left;
    width: 47px;
    word-break: break-all;
}
/**
*V container
**/
#vcontainer {
    top: -60px;
    left: 0px;
    height: 80px;
    width: 130px;
}
#vcontainer input {
    float:left;
    display: block;
}
#vcontainer .v_descr {
    float:left;
    width: 50px;
    word-break: break-all;
}
/**
*D container
**/
#dcontainer {
    top: -150px;
    left: 150px;
    height: 80px;
    width: 230px;
}
#dcontainer input {
    float:left;
    display: block;
}
#dcontainer .d_descr {
    float:left;
    width: 55px;
    word-break: break-all;
}
/**
*N1 container
**/
#n1container {
    top: -140px;
    left: 0px;
    height: 40px;
    width: 210px;
}
#n1container input {
    float:left;
    display: block;
}
#n1container .n1_descr {
    float:left;
    width: 55px;
    word-break: break-all;
}
/**
* N1 arrow
*/
#n1arrow_right {
    top: -190px;
    left: 230px;
    width: 10px;
    height: 43px;
    border-style: none;
    background: transparent url('../images/arrow-right.png') no-repeat;
}
/**
*N2 container
**/
#n2container {
    top: -260px;
    left: 250px;
    height: 60px;
    width: 170px;
}
#n2container input {
    float:left;
    display: block;
}
#n2container .n2_descr {
    float:left;
    width: 70px;
    word-break: break-all;
}
/**
*N3 container
**/
#n3container {
    top: -260px;
    left: 0px;
    height: 40px;
    width: 210px;
}
#n3container input {
    float:left;
    display: block;
}
#n3container .n3_descr {
    float:left;
    width: 75px;
    word-break: break-all;
}
/**
* N3 arrow
*/
#n3arrow_right {
    top: -300px;
    left: 230px;
    width: 10px;
    height: 43px;
    border-style: none;
    background: transparent url('../images/arrow-right.png') no-repeat;
}
/**
* D cork container
**/
#dsugcontainer {
    top: -150px;
    left: 0px;
    height: 180px;
    width: 400px;
}
/**
* D5 cork container
**/
#d5_container {
    width: 90px;
}
/**
* D10 cork container
**/
#d10_container {
    width: 90px;
    left: 100px;
}
/**
* D11 cork container
**/
#d11_container {
    width: 90px;
    left: 200px;
}
/**
* D12 cork container
**/
#d12_container {
    width: 90px;
    left: 300px;
}
/**
* D1 cork container
**/
#d1_container {
    width: 120px;
    top: 100px;
}
/**
* D3 cork container
**/
#d3_container {
    width: 120px;
    top: 100px;
    left: 130px;
}
/**
* D13 cork container
**/
#d13_container {
    width: 120px;
    top: 100px;
    left: 260px;
}
/**
* Vertical line
*/
#tab4verticalline {
    position: relative;
    top: -1257px;
    left: 450px;
    width: 1px;
    height: 1200px;
    border-right-style: dashed;
    border-right-width: 3px;
    border-right-color: #0063DC;
}
/**
* Tab 5 container
*/
#tab5container {
    top: -2450px;
    left: 460px;
    width: 200px;
    border-style: none;
}
/**
* Ce container
*/
#ce_container {
    left: 210px;
}
/**
* Tipo prescr sug container
**/
#tipo_prescr_sug_container {
    top: 520px;
}
/**
* P2 container
**/
#p2_container {
    top: 570px;
}
/**
* Estraz futura container
**/
#estraz_futura_container {
    top: 560px;
    left: 220px;
    width: 150px;
}
/**
* P3 container
**/
#p3_container {
    top: 620px;
}
/**
* P4 container
**/
#p4_container {
    top: 700px;
}
/**
* SR container
*/
#srcontainer {
    top: -2400px;
    left: 460px;
    width: 50px;
}
/**
* Arbustive container
*/
#arbustivecontainer {
    top: -2600px;
    left: 580px;
    width: 200px;
    height: 200px;
}
#newarbustive {
    top: 44px;
    left: 4px;
    width: 250px;
}
#content_schedab2_arbustive {
    top: 104px;
    left: 4px;
    width: 250px;
}
#content_schedab2_arbustive  div{
    position: relative;
    clear: both;
}
#content_schedab2_arbustive  div span{
    float:left;
    width: 60px;
    text-align: center;
    word-break: break-all;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #000000;
}
#newarbustive  div{
    position: relative;
    clear: both;
}

#newarbustive div span{
    float:left;
    width: 60px;
    text-align: center;
    word-break: break-all;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #000000;
}
#arbustivecontainer .scrollcontrols span input{
    display: inline;
}
#arbustivecontainer .scrollcontrols img {
    margin-top: 5px;
    vertical-align:top;
}
/**
* SE container
**/
#secontainer {
    top: -2580px;
    left: 460px;
    width: 50px;
}
/**
* Erbacee container
*/
#erbaceecontainer {
    top: -2750px;
    left: 580px;
    width: 200px;
    height: 200px;
}
#newerbacee {
    top: 44px;
    left: 4px;
    width: 250px;
}
#content_schedab2_erbacee {
    top: 104px;
    left: 4px;
    width: 200px;
}
#content_schedab2_erbacee  div{
    position: relative;
    clear: both;
}
#content_schedab2_erbacee  div span{
    float:left;
    width: 60px;
    text-align: center;
    word-break: break-all;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #000000;
}
#newerbacee  div{
    position: relative;
    clear: both;
}

#newerbacee div span{
    float:left;
    width: 60px;
    text-align: center;
    word-break: break-all;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #000000;
}
#erbaceecontainer .scrollcontrols span input{
    display: inline;
}
#erbaceecontainer .scrollcontrols img {
    margin-top: 5px;
    vertical-align:top;
}
/**
* Container of G1 blocks
**/
#g1container{
    top: -2500px;
    left: 460px;
    width: 220px;
    height: 100px;
}
#g1container input {
    float:left;
    display: block;
}
#g1container .g1_descr {
    display: block;
    float:left;
    width: 40px;
    word-break: break-all;
}
/**
* N1 arrow
*/
#n5arrow_right {
    top: -2560px;
    left: 710px;
    width: 10px;
    height: 43px;
    border-style: none;
    background: transparent url('../images/arrow-right.png') no-repeat;
}
/**
* Container of Sub Viab blocks
**/
#sub_viabcontainer{
    top: -2670px;
    left: 730px;
    width: 80px;
    height: 100px;
}
#sub_viabcontainer legend{
    margin-left: 0px;
    word-break: break-all;
}
#sub_viabcontainer input {
    float:left;
    display: block;
}
#sub_viabcontainer .sub_viab_descr {
    display: block;
    float:left;
    width: 25px;
    word-break: break-all;
}
/**
* Note container
**/
#forestnotecontainer {
    top: -2670px;
    left: 460px;
    width: 350px;
}
/**
* notes container
*/
#notescontainer {
    top: -2600px;
    left: 4px;
    width: 800px;
    height: 310px;
}

#newnote {
    top: 24px;
    left: 70px;
    width: 700px;
}
#content_schedab2_note {
    top: 124px;
    left: 70px;
    width: 700px;
}
#content_schedab2_note  div{
    position: relative;
    clear: both;
}
#content_schedab2_note div span{
    float:left;
    width: 220px;
    text-align: center;
    word-break: break-all;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #000000;
}
#newnote  div{
    position: relative;
    clear: both;
}

#newnote div span{
    float:left;
    width: 220px;
    text-align: center;
    word-break: break-all;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #000000;
}
#scrollcontrols span input{
    display: inline;
}
#scrollcontrols img {
    margin-top: 5px;
    vertical-align:top;
}