/* 
    Document   : particella
    Created on : 29-gen-2013, 14.31.40
    Author     : caiofior
    Description:
        Purpose of the stylesheet follows.
*/

#content_boscoForestCompartmentlist ul {
    list-style-type: none;
}

