/* 
    Document   : particella
    Created on : 29-gen-2013, 14.31.40
    Author     : caiofior
    Description:
        Purpose of the stylesheet follows.
*/

#content_boscoForestCompartmentlist ul {
    list-style-type: none;
}

#formtab span{
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    background-color: #808080;
    color: #88881B;
    font-size: 15px;
    font-weight: bold;
    line-height: 26px;
}
#formtab span.active{
    background-color: #ffffff;
}
#tabContent h3{
    color: #325D27;
    font-weight: bold;
    font-size: 15px;
}
/*#formA {
    position: relative;
    height: 2000px;
}*/
fieldset {
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    color: #325D27;
}
legend {
    border-style: dotted;
    border-width: 1px;
    border-color: #000000;
    margin-left: 20px;
    font-weight: bold;
}

.e1 {
    position: relative;
}
.e1.est {
    left: 0px;
    top: 94px;
}
.e1.nord {
    left: 235px;
    top:-37px;
}
.e1.nord-est{
    left: 135px;
    top:-15px;
}
.e1.nord-ovest{
    left: 360px;
    top:-42px;
}
.e1.nulla{
    left: 236px;
    top:-7px;
}
.e1.ovest {
    left: 417px;
    top: -32px;
}
.e1.sud {
    left: 233px;
    top: 51px;
}
.e1.sud-est {
    left: 135px;
    top: -20px;
}
.e1.sud-ovest {
    left: 360px;
    top: -45px;
}
