/* 
    Document   : viabilita
    Created on : 18-apr-2013, 10.39.13
    Author     : caiofior
    Description:
        Purpose of the stylesheet follows.
*/
fieldset {
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    color: #325D27;
    position: relative;
    display: block;
    *margin-top: 12px;
    *margin-bottom: 0px;
    -webkit-padding-before: 7.5px;
    -webkit-padding-start: 0px;
}
legend {
    border-style: dotted;
    border-width: 1px;
    border-color: #000000;
    margin-left: 20px;
    font-weight: bold;
}
h4 {
    position: relative;
    color: #010080!important;
    background-color: #ffffff;
    font-size: 12px!important;
    margin: 0px!important;
    padding: 0px;
    
}
fieldset > div > label {
    background-color: #010080;
    color: #ffffff!important;
    display: block;
}
label.double {
    height: 40px;
}
label.triple {
    height: 60px;
}
select {
   margin: 0px !important;
   padding: 0px !important;
   height: 17px;
   width: 80%;
}
input:not([type='radio']) {
   width: 80%;
   margin: 0px ;
   padding: 0px;
}
input[type='radio'],input[type='checkbox'] {
   background: transparent;
   border: 0;
}
.scrollcontrols img {
    margin-top: 5px;
    vertical-align:top;
}
/**
* General part
**/
#general {
    border-style: none;
}
#bosco_container {
    width: 200px;
}
#codiope_container {
    width: 200px;
    margin-top: -40px;
    margin-left: 220px;
}
#data_container {
    width: 200px;
    margin-top: -40px;
    margin-left: 440px;
}
#lung_gis_container {
    width: 150px;
    margin-top: -40px;
    margin-left: 440px;
}
#strada_container {
    width: 150px;
    margin-top: -40px;
    margin-left: 610px;
}
#note1 {
    border-style: none;
}
#nome_strada_container {
    width: 200px;
}
